/* 객실관리홈페이지 css설정 */
#leftnav{
	width:20%;
	height:600px;
	float : left;
}

#nav{    
    width: 25%;
    height: 600px;
    float: left;
    text-align: center;    
}
#nav1{
	width:max-content;
    height: 600px;
    float : left;
    margin-left:100px;
    text-align: center;      
}
#reserveRoom1{
	width: 350px; 
	height: 400px; 
    font-size: 18px; 
    padding-top: 10px;  
    padding-left: 10px;
}
#typetable{
    font-weight: 800;
    font-size: 18px;
}
#selType{
	width: 300px; 
	height: 200px; 
	font-size:20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left:-14px;
}
#roomName,#txtNum,#roomPrice{
    width:300px;
    height: 30px;
    font-size: 20px;
    padding-left:10px;
}
#btnAdd,#btnDelete,#btnClear{
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0);
    color:blue;
    padding:5px;
    border-radius: 5px;
    font-weight: 800;
}
#btnAdd:hover,
#btnDelete:hover,
#btnClear:hover{
    color: white;
    background-color: rgb(52, 52, 216);
}
/* 객실관리홈페이지 설정 끝 */
/* 여기부터는 예약관리의 css설정 */
#header{
    height: 300px; 
    text-align: center;
    padding: 30px;
    background-color: cadetblue;
    color: oldlace;     
}
#header h1,h2{
	margin-top:50px;
    
}
#btngobook, #btngoroom{
    border: 1px solid rgb(2, 99, 2);
    background-color: rgba(0, 0, 0, 0);
    color:rgb(1, 94, 1);
    padding:5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
}
#btngoroom:hover,#btngobook:hover{
    color: white;
    background-color: rgb(64, 194, 12);
}

#nav2 #findRoom,#findRoom2{
	display:inline-block;
	height: 220px;
    width:100%;
    text-align: center;
    padding-top: 20px;
	font-size : 20px;
    background-color: rgb(231, 250, 250);
    font-weight: 800;    
}
#date1,#date2{
    height: 30px;
    width: 160px;
    font-weight: 800;
}
#date3,#date4{
    height: 30px;
    width: 160px;
    font-weight: 800;
}

#roomTypeMenu{
    height: 30px;
    width: 150px;
    font-weight: 800;
}
#btnroomlist{
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0);
    color:blue;
    padding:5px;
    border-radius: 5px;
    font-weight: 800;
}
#btnroomlist:hover{
    color: white;
    background-color: rgb(52, 52, 216);
}
#roomTypeMenu{
	font-size: 16px;
}
#binnav{
    float: left;
    width: 15%;
    height: 500px;
}
#reserveRoom{ 
    width: 35%;
    height: 500px;
    float: left;
    text-align: center;
}
#reserveRoom2{
    display: inline-block;
    width: 350px;	
	height: 450px; 
	font-size: 17.5px;
    padding-left: 12px;
    padding-top: 10px;
    
}
#sectionMenu2{
    width: 450px;
    height: 450px;
    margin-top: 100px;
    float:left;  
    background-color: white;
    border: 1px solid black;
}
#roomTable{
    width: 450px;	
	padding-left:15px; 
	padding-top:15px;
    font-size:16px;
    font-weight: 800;
}

#sectionMenu2 h2{
    font-size: 20px;
}
#btnRegister2,#btnClear2, #btnUpdate, #btnDelete2{
    border: 1px solid blue;
    background-color: rgba(0, 0, 0, 0);
    color:blue;
    padding:5px;
    border-radius: 5px;
    font-weight: 800;
}
#btnRegister2:hover,
#btnClear2:hover,
#btnUpdate:hover, 
#btnDelete2:hover{
    color: white;
    background-color: rgb(52, 52, 216);
}
#section2{
    width: 60%;
    height: 400px;
    margin-top: 650px;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}
#comroom{
	width: 90%; 
	height: 300px;
    padding-left:15px; 
	padding-top:15px;
    font-size: 18px;
}

#footer{
   
    height: 100px;
    clear: both;
}